*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
body{
    background-color: #F7F8FD;
    font-family: 'Inter';
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    display: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 10px;
    display: none;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333; 
    display: block;
  }


.side-menu{
    position: fixed;
    background: #F7F8FD;
    top: 50px;
    left: 20px;
    width: 200px;
    height: 90vh;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    box-sizing: border-box;
    transition: width .3s cubic-bezier(.17,.67,.83,.67);
}

.side-menu.inactive{
    width: 80px;
}

.side-menu .main-menu .menu-item{
    color: #333;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.side-menu .main-menu .menu-item.active{
    background: linear-gradient(87.37deg, #315B81 0%, #003463 95.9%);
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    margin: 10px;
}


.side-menu .main-menu{
    margin: 5px 0;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.side-menu .main-menu .menu-item .menu-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .main-menu .sub-menu{
    color: #333;
    margin-left: 20px;
    box-sizing: border-box;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in;
}


.side-menu .main-menu .sub-menu.active li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.side-menu .main-menu .sub-menu.active{
    max-height: 250px;
}

.side-menu .main-menu .sub-menu a{
    display: block;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
}

.side-menu .main-menu .sub-menu a .sub-menu-title{
    margin-left: 10px;
}




.side-menu .main-menu .sub-menu a.active{
    /* change in background, not recorded in video */
    background: linear-gradient(87.37deg, #315B81 0%, #003463 95.9%);
    border-radius: 10px;
    display: block;
    height:30px;
    margin-top: 15px;
    border-radius: 5px;
    color: #fff;

}

.side-menu-footer{
    width: 100%;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
}

.side-menu-footer .avatar{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}
.side-menu-footer .avatar img{
    max-width: 100%;
}

.side-menu-footer .user-info{
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    position: absolute;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .side-menu-footer .user-info{
    opacity: 1;
    width: 0;
    height: 0;
    overflow: hidden;
}


.side-menu-footer .user-info h5{
    font-size: 15px;
}


.side-menu-footer .user-info p{
    font-size: 14px;
}

.divider{
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: #333;
}

.container{
    margin-left: 300px;
    transition: margin-left .2s ease-in;
    padding: 50px;
    box-sizing: border-box;
}

.container.inactive{
    margin-left: 80px;
}

.toggle-menu-btn {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: -20px;
}

.back-btn {
    cursor: pointer;
}

.upload-logo-container {
    width: 90%;
    height: 78px;
    background: #FFFFFF;
    border: 1px dashed #6F91A8;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 9px;
}
.upload-logo-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F91A8;
}

.side-menu.inactive .upload-logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
}

.side-menu.inactive .upload-logo-container {
    width: 80%;
}

.side-menu.inactive .upload-logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu.inactive .upload-logo-text {
    display: none;
}

.divider {
    width: 90%;
    height: 3px;
    background: #EEEFF8;
    border-radius: 2px;
    margin-top: 15px;
}